body {
    background-color: #fffffc;
    color: #111111;
    font-family: 'Verdana';
    line-height: 1.5;
}

h1 {
    font-weight: normal;
    font-size: 30px;
}

h2 {
    font-weight: normal;
    font-size: 27px;
}

h3 {
    font-weight: normal;
    font-size: 24px;
}

h4 {
    font-weight: normal;
    font-size: 21px;
}

h5 {
    font-weight: normal;
    font-size: 18px;
}

h6 {
    font-weight: normal;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #0000ad;
}

hr {
    border: 1px solid #dedede;
}

pages {
    float: right;
}

url {
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 18.5px;
    color: #0000ad;
}

/*
p {
    text-align: justify;
}
*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#exampleimg {
    width: 100%;
}

#contentimg {
    max-width: 50%;
    max-height: 25%;
    width: auto;
    height: auto;
    display: inline;
}

#content {
    width: 45%;
    margin-left: 27.5%;
}


@media screen and (max-width: 1060px) {
    #content {
        width: calc(100% - 10px);
        margin-left: 10px;
    }  
}